[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
click = "*"
alembic = "*"
bcrypt = "*"
inquirerpy = "*"
pyjwt = "*"
sentry-sdk = "*"
rich = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
